<nav>
    <MudAppBar>
        <MudButton Style="width: 250px;" Href="/">
            <MudAvatar Size="Size.Medium">
                <MudImage Src="@Constants.ImageUri" Alt="Me"></MudImage>
            </MudAvatar>
            <MudText Typo="Typo.body1" Class="ml-2">Kayden Miller</MudText>
        </MudButton>

        <MudSpacer/>
        <MudButton Class="pl-5 pr-5" Href="/about">About</MudButton>
        <MudButton Class="pl-5 pr-5" Href="/resume">Resume</MudButton>
        <MudButton Class="pl-5 pr-5" Href="/blog">Blog</MudButton>
    </MudAppBar>
</nav>

@code {
    
}