.item {
    padding: 0 0 20px 20px;
    color: #c9cdcf;
    position: relative;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    margin-top: -2px;
}

.item-date {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.15);
    font-weight: 600;
    display: inline-block;
}

.item h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 18px;
}

.item p {
    margin-top: 0;
    margin-bottom: 10px;
}

.item ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.item::before {
    background-color: greenyellow;
    position: absolute;
    width: 16px;
    height: 16px;
    left: -9px;
    right: 0;
    border-radius: 50px;
    content: "";
}