
<div style="padding: 10px; margin: 5px;" class="d-flex justify-center align-center">
    <MudImage Src="@Image" Alt="@(ImageAlt ?? Name)" Height="50" Width="50" />
    <MudText Class="ml-2" Typo="Typo.h6">@Name</MudText>
</div>

@code {

    [Parameter]
    public string Image { get; set; } = "./images/csharp.png";

    [Parameter]
    public string? ImageAlt { get; set; }

    [Parameter]
    public string Name { get; set; } = "C#";

}