@page "/"

<PageTitle>Home</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem>
        <MudPaper Class="pa-16 ma-2">
            <div style="margin-bottom: 15px;">
                <MudImage Src="@Constants.ImageUri.ToString()" Alt="Me" Elevation="25" Class="rounded-lg" Style="float: left;" Width="72"></MudImage>
                @* Margin here is 85 because css is stupid and doesn't know that there is an image to its left *@
                <MudText Style="position: relative; margin-left: 85px;" Typo="Typo.h2">Kayden Miller</MudText>
            </div>
            <MudText Typo="Typo.h6">
                I'm a passionate software engineer,
                who loves being a part of the software ecosystem.
            </MudText>

            <div>
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" aria-label="github" Href="https://github.com/KaydenMiller" Target="_blank"></MudIconButton>
                <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" aria-label="linkedin" Href="https://www.linkedin.com/in/kaydenmiller/" Target="_blank"></MudIconButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>